/* Updated CSS styles */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(https://trendlyne-media-mumbai-new.s3.amazonaws.com/post-files/2023-06-09/None-10c6309554a740608096c4e13a2cc902.gif);
    background-size: cover;
}

header {
    /*background-color: #333;*/
    color: #070707;
    text-align: center;
    padding: 20px;
}

main {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
}

#add-transaction,
#transaction-list {
    flex: 1;
    margin-right: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}


button {
    padding: 10px 20px;
    background-color: #3a3dbe;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #fff;
}

aside {
    width: 40%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#analytics {
    text-align: center;
}

.analytics-box {
    margin-bottom: 10px;
}

.analytics-box p {
    
    font-weight: bold;
    margin: 0;
}

.analytics-box span {
    font-size: 20px;
    display: block;
}

.chart-container {
    text-align: center;
    display: inline-block;

}

#suggested-bad-expenses {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#suggested-bad-expenses h2 {
    margin: 0;
}
